<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Hillsborough Sherrif Scraper</title>

  {% load static %}
  <link rel="stylesheet" href="{% static 'web/style.css' %}">
</head>

<body class="center">
  <h1>Hillsborough County Arrest Records</h1>
  <p>Please select a date range</p>
  <form method="GET" action="arrests">
    <div class="clearfix">
      <label for="from">From: </label>
      <input type="date" id="from" name="from">
      <label for="to">To: </label>
      <input type="date" id="to" name="to">
    </div>

    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</body>
</html>
